@{
	Layout = "_MainLayout";
}
<nav>
	<ul>
		<li><a class="reports" asp-controller="Manager" asp-action="ManagStart">Start(Ärenden)</a></li>
		<li class="right"><a class="logout" asp-controller="Home" asp-action="Logout">Logga ut</a></li>
	</ul>
</nav>

<div id="content">

@RenderBody()
